@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .text-shadow-lg {
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
  }
}